SECRET_KEY=SECRET_KEY_GANACONTROL_2025
DB_HOST=localhost
DB_PORT=3306
DB_USER=arletteg
DB_PASSWORD=123456
DB_NAME=Proyecto_Ganaderia2
FLASK_DEBUG=true

# Railway expone automaticamente estas variables cuando agregas MySQL:
# MYSQLHOST=
# MYSQLPORT=
# MYSQLUSER=
# MYSQLPASSWORD=
# MYSQLDATABASE=
