{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <h3 class="text-center mb-4">Iniciar sesión</h3>

        <form method="POST" class="card p-4 shadow-lg">

            <img src="{{ url_for('static', filename='img/login.png') }}" class="img-fluid mb-3">

            <label>Usuario:</label>
            <input type="text" name="usuario" class="form-control mb-3" required>

            <label>Contraseña:</label>
            <input type="password" name="password" class="form-control mb-3" required>

            <label>Tipo de usuario:</label>
            <div class="d-flex gap-3 mb-3">
                <label><input type="radio" name="rol" value="Veterinario" required> Veterinario</label>
                <label><input type="radio" name="rol" value="Productor" required> Productor</label>
                <label><input type="radio" name="rol" value="Comprador" required> Comprador</label>
            </div>

            <button class="btn btn-primary w-100">Ingresar</button>
        </form>

    </div>
</div>

{% endblock %}
