{% extends "base.html" %}
{% block page_css %}
    <link rel="stylesheet" href="{{ asset_url('css/pages/mi_productor.css') }}">
{% endblock %}
{% block content %}

<div class="text-center">
    <img src="{{ url_for('static', filename='img/image.png') }}" 
         class="img-fluid mb-4"
         style="max-height:200px">
</div>

<p class="text-center mt-3 mb-3">Modificar mis datos</p>

<div class="form-box">
    <form method="POST" enctype="multipart/form-data">


    <label>Nombre</label>
    <input type="text" name="nombre" value="{{ productor[1] }}" required>

    <label>Apellido Paterno</label>
    <input type="text" name="apellido_pat" value="{{ productor[2] }}">

    <label>Apellido Materno</label>
    <input type="text" name="apellido_mat" value="{{ productor[3] }}">

    <label>RFC</label>
    <input type="text" name="RFC" value="{{ productor[4] }}">

<div class="fierro-box">
    <label>Foto del fierro</label>

    <img src="{{ url_for('imagen_fierro', id=productor[0]) }}"
         class="fierro-img"
         onerror="this.style.display='none'">

    <input type="file" name="foto_fierro" accept="image/*">
</div>
    

    <button class="btn-guardar">Guardar Cambios</button>
</form>

    
</div>

{% endblock %}
