{% extends "base.html" %}
{% block content %}

<style>
.form-box {
    background: #f5e8d8;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #5a4632;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #bca58b;
}

.btn-guardar {
    background: #8b5e3c;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    border: none;
}
</style>

<div class="text-center">
    <img src="{{ url_for('static', filename='img/image.png') }}" 
         class="img-fluid mb-4"
         style="max-height:200px">
</div>

<p class="text-center mt-3 mb-3">Modificar mis datos</p>

<div class="form-box">
    <form method="POST">

```
    <label>Nombre</label>
    <input type="text" name="nombre" value="{{ productor[1] }}" required>

    <label>Apellido Paterno</label>
    <input type="text" name="apellido_pat" value="{{ productor[2] }}">

    <label>Apellido Materno</label>
    <input type="text" name="apellido_mat" value="{{ productor[3] }}">

    <label>RFC</label>
    <input type="text" name="RFC" value="{{ productor[4] }}">

    <button class="btn-guardar">Guardar Cambios</button>
</form>
```

</div>

{% endblock %}
